// font family used for all header titles
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


// not nested for certian reasons
html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1{
  font-family: 'Roboto Slab', serif;
}

h2{
  font-family: 'Roboto Slab', serif;
}

.modal-body{
    font-size: .875rem;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

#contactme{
  margin-top: 150px;
  margin-bottom:75px;
}


// Style for the divider in the Jumbotron and throughout the page
.divider-custom{
  width:100%;
 
  .divider-custom-line{
    border-radius: 10px;
    height: 5px;
    width:30%;
  }
}


// style for navbar
.navbar-light{
  background-color: #c0b4b4e7;
  

  .navbar-brand:hover{
    color:rgb(6, 81, 116);
  }

  .navbar-toggler{
    border:1px outset rgba(169, 169, 169, 0.966);

    .navbar-toggler-icon{
      background-image: url('https://mdbootstrap.com/img/svg/hamburger4.svg?color=044f4a');
    }  
    
  }
  
  .navbar-toggler:focus{
    outline: 0;
  }
  
  .navbar-nav .nav-link {
    color:rgb(0, 0, 0);
    font-size: 20px;
  }
  
  .navbar-nav .nav-link:hover{
    color:rgb(12, 133, 155);
  }
  
}


// Style for Jumbotron
.jumbotron{
  background: url("../image/computer-image2.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  padding-top:10%;
  padding-bottom: 10%;

  h1{ 
    font-size: 50px;
    color:white;
    text-transform: uppercase;
    text-shadow: 3px 3px rgb(0, 0, 0);
    font-weight: 900;

    }
  p{
    color:rgb(255, 249, 249);
    width: 65%;
  }
  .tagline{
    font-size: 1.4rem;
    color: white;
    text-shadow: 2px 2px rgb(0, 0, 0);
    font-weight: 900;

  }
}


.img-layout{

  .about-img{
    border:1px solid darkgray;
    background-color:whitesmoke;
    box-shadow: 5px 10px 8px #888888;
    float: left;
    margin-right: 1rem;
    margin-left: .75rem;    
  }
  p{
    font-size: .875rem;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;

  }
}


@media only screen and (min-width:300px) and (max-width:850px){
  .img-layout{
    .about-img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      float: none;
    }
    p{
      font-size: .875rem;
      line-height: 1.6rem;
      font-family: 'Roboto', sans-serif;
      clear: both;
    }
  }
}


// style for the Things I  section
.skills{

  .img-design{
  box-shadow: 2px 5px #646970;
  border: 1px solid black;
  }
  .skill-style{
    font-size: 36px;
    text-align: center;
  }

  .skill-style .flex-fill{
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    background-color: rgba(173, 233, 233, 0.507);
    border: 1px solid rgba(48, 43, 43, 0.822);
    border-radius: 5px;    
  }
}


// Style for the cards in project section
.card{

  h5{font-family: 'Roboto Slab', serif;
  }

  .project-modal:hover .card-img-top{
    opacity: .2;
    cursor: pointer;
  }

  .project-modal:hover .middle{
    opacity: 1;
  }

  .middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .btn:focus{
    box-shadow: none;
  }

  .card-body{
    font-family: 'Roboto Slab', serif;
    height: 55px;
    background-color:rgba(173, 233, 233, 0.507);
  }
} 

footer{
  background-color: #e6e0e0de;
  
  li a:link{
    color:black;
  }

  li a:visited{
    color: black;
  }

  li a:hover{
    color:rgb(66, 124, 151);
  }

}