$base-font: 16px;
.apple{
  font-size:$base-font;
}

@mixin desktop {
  @media (min-width: 768px){
    @content;
  }
  
}

@include desktop {
  .apple{
    font-size:24px;
  }
}

.img-design{
  box-shadow: 2px 5px #646970;
  border: 1px solid black;
}